body {
    padding: 0;
    margin: 0;
    font-family: 'Syne Mono', sans-serif;
}

#crosshair {
    position: absolute;
    image-rendering: pixelated;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

#test {
    position: absolute;
    top: 50px;
    left: 50px;
}