body {
    padding: 0;
    margin: 0;
    font-family: 'Syne Mono', sans-serif;
}

#ui {
    position: absolute;
    width: 100%;
    height: 100%;
}

#mainMenu {
    position: static;
    display: inline-block;
}

#menuPanel {
    width: 40%;
    height: 80%;

    backdrop-filter: blur(20px) contrast(50%) brightness(140%);

    border-style: solid;
    border-width: 2px;
    border-color: #000;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.gameTitle {
    font-size: 64px;
}
.lowSpace {
    font-size: 12pt;
    line-height: 14pt;
}

.bigField {
    width: 50%;
    font-size: 12pt;
    margin-bottom: 20px;
    font-family: 'Syne Mono', sans-serif;
}

.bigSlider {
    width: 50%;
}

button {
    font-size: 12pt;
    font-family: 'Syne Mono', sans-serif;
}

#joinButton {
    padding: 5px 20px;
}

.menuItem {
    margin-left: auto;
    margin-right: auto;
}

#inGame {
    width: 100%;
    height: 100%;
    padding: 0px;
    position: static;
    display: inline-block;
}

#crosshair {
    position: absolute;
    image-rendering: pixelated;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

#lowerleft {
    position: absolute;
    top:70%;
    width: 25%;
    height: 30%;

    backdrop-filter: blur(10px) brightness(50%);

}

#status {
    width: 100%;
    height: 16.7%;
    background-color: #444;
    color: #fff;
}

.statusNumber {
    margin-top: 2px;
    margin-bottom: 2px;
}

#chatArea {
    height: calc(83.3% - 32px);
    padding: 0 5px 5px;
    overflow-wrap: anywhere;
    overflow-x: hidden;
    overflow-y: auto;

}

.chatMessage {
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 0;
}

#chatInput {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 8px);
    font-size: 12pt;
    font-family: 'Syne Mono', sans-serif;
}